{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recipes/css/styles.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <title>About Me</title>
  </head>
  <body>
    <div class="main-image">
      <img src="{% static 'recipes/images/recipe-home.jpg' %}" alt="home" />
    </div>
    <nav class="navbar">
      <div class="title">
        <h1>Recipe App</h1>
      </div>

      <div class="profile">
        <a href="/create/">Create Recipe</a>
        <a href="/about/">About Me</a>
        <a href="{%url 'logout' %}"> Logout </a>
      </div>
    </nav>

    <div class="recipe-modal">
      <span
        ><a class="main-header" href="{%url 'recipes:list' %}"
          >Back to all recipes</a
        ></span
      >
      <h2>Madison Housman, Web Developer</h2>

      <div>
        <div class="ing-dir">
          Hi! My name is Madison and I created this recipe app using Django,
          Python, HTML, CSS, and JavaScript. Check out the links below to see
          more of my work!
        </div>
        <div class="portfolio-link">
          <a href="https://madison24.github.io/portfolio-website/">Portfolio</a>
          <br />
          <a href="https://github.com/madison24">GitHub</a>
        </div>
      </div>
    </div>
  </body>
</html>
