<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe App Home</title>
  </head>
  <body>
    <h1>Recipe App!</h1>

    <h2>Here you can login and add your own recipes</h2>

    <form>
      <div class="container">
        <label><b>Email</b></label>
        <input type="email" placeholder="Enter your email" required />

        <label><b>Password:</b></label>
        <input type="password" placeholder="Enter your password" required />

        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
